.mb-10 {
    margin-bottom: 10px;
}
.mt-10 {
    margin-top: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}
.mt-20 {
    margin-top: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}
.mt-100 {
    margin-top: 100px;
}